{% load static from staticfiles %}

<!DOCTYPE html>
 <html>
	<head>
		<meta charset="utf-8">
		<title>mappeat</title>
		<meta name="author" content="Luis Castro Martín & Rafael Nogales Vaquero">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
        <script src="{% static "mainRest/api.js" %}"></script>

        <!-- jQuery library necesary for Bootstrap -->        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

 <body> 



<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-1 sidenav " style="width: 12%">
      <h2>Mappeat</h2>
        <div class="btn-group-vertical" style="width: 110%">
        <button type="button" class="btn btn-primary">Ver Mesas</button>
        <button type="button" class="btn btn-warning" >Abrir Cajon</button>
        <button type="button" class="btn btn-success">Efectivo <span class="badge"> 12.50€</span></button>
        <button type="button" class="btn btn-success">Cobro Avanzado</button>
        <button type="button" class="btn btn-primary">Dividir Ticket</button>
        <button type="button" class="btn btn-basic">Enviar a Cocina</button>
        <button type="button" class="btn btn-danger">Borrar Linea</button>
        <button type="button" class="btn btn-info">Añadir Nota</button>
        <button type="button" class="btn btn-warning">Transferir Mesa</button>
        <button type="button" class="btn btn-primary">Buscar Ticket</button>
        <button type="button" class="btn btn-info">Imprimir Ticket</button>
        <button type="button" class="btn btn-danger">Cancelar Ticket</button>
        </div><br>
    </div>
    <br>
    
    <div class="col-sm-10">
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <h4>Familias</h4>
            <p> Aqui va una tabla con las categorias de productos</p>
            <p> Al pulsar en una categoría la tabla de productos de abajo cambia</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Contexto Actual</h4>
            <p>Total cuenta</p> 
            <p>Nombre Camarero</p> 
            <p>Numero de Mesa</p> 
            <p>Numero de Ticket</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <h4>Productos</h4>
            <p>Aqui va una tabla con los productos.</p> 
            <p>Estos productos aparecerán en un orden inteligente a ser posible.</p> 
            <p>Cada vez que se pulsa un producto se añade al ticket del panel derecho</p> 
          </div>
            <div class="well">
            <h4> Sugerencias de productos </h4>
            <p> Aqui aparece una lista de productos de varias familias que tienen una gran probabilidad de ser incluídos en el ticket</p>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <h4>Ticket Actual</h4>
            <p>Contiene una lista dinámica con todos los productos del ticket actual</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


 </body>
 </html>
 