#mappeat-logo {
    font-style: bold;
}


#navbar-parent {
    float: right;
    /*height: 50%;
    width: 70%; */
    margin-bottom: -50px;
    padding: 10px 10px;
}
#navbar-buttons {
  float: right;
}

#mappeat-navbar {
  border-radius: 0px;
}

.btn-side{
     align-self: center;
     font-family: "Arial", sans-serif;
     font-style: bold;
     font-size: 15px ! important; //to make fontsize bigger
}

.ul-tpv {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
/*  background-color: #333333; */
}

.li-tpv {
    float: left;
    display: block;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.li-tpv:hover {
    background-color: #EEE;
}

html {
    height: 100%
}


body{
    min-height: 100%
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-repeat: no-repeat;
    background-size: 100% 100%;

}

#register_form{
    border: 1px solid #959595;
}

/* mapa de mesas*/
#tableMap{
    width:100%;
}

/* mapa del restaurante*/
#map{
    height: 300px;
}


/* monedas y billetes */


.billete {
  float: left;
  display: block;
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.moneda {
     float: left;
     display: block;
     text-align: center;
     margin-left: 10px;
     margin-top: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}

.cobre {
  padding: 13px 18px;
  background: #B87333;
}

.oro {
  padding: 17px 18px;
  background: #EABE3F
}

.euro1 {
  border:10px solid rgb(234, 190, 63);
  padding: 16px 17px;
  background: rgb(192, 192, 192);
}

.euro2 {
  border:10px solid rgb(192, 192, 192);
  padding: 16px 17px;
  background: rgb(234, 190, 63);
}

.euro5 {
  border:2px solid rgb(192, 192, 192);
  padding: 20px 50px;
  background: #b1c9cd;
}

.euro10 {
  border:2px solid rgb(192, 192, 192);
  padding: 20px 50px;
  background: #f17c94;
}

.euro20 {
  border:2px solid rgb(192, 192, 192);
  padding: 20px 50px;
  background: #949cdc;
}

.euro50 {
  border:2px solid rgb(192, 192, 192);
  padding: 20px 50px;
  background: #da8b6c;
}

.euro100 {
  border:2px solid rgb(192, 192, 192);
  padding: 20px 50px;
  background: #91b287;
}
