{% load static from staticfiles %}

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>GUI de Mappeat</title>
		<meta name="author" content="Luis Castro Martín & Rafael Nogales Vaquero">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
        <script src="{% static "mainRest/api.js" %}"></script>

        <!-- jQuery library necesary for Bootstrap -->        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

	<body>  
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mappeat</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <form class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Usuario" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Contraseña" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Entrar</button>
            </form>
          </div><!--/.nav-collapse -->
        </div>
      </nav>   
        <div class="jumbotron">
          <div class="container">
            <h1>Mappeat</h1>
            <h2>Solución de gestión para hostelería</h2>
            <p>Trabajamos de la mano de empresarios hosteleros que como tu buscan lo mejor para su negocio.</p>
            <h3>Simple ≠ Incompleto</h3>
            <p>Buscamos ser tu aliado en los días más ajetreados con una aplicación simple y rápida,  pero también te ayudamos en esos momentos de pensar en nuevas estrategias para tu negocio con un gran panel de control desde el que podrás editar los productos, gestionar el almacén, y obtener más información mediante nuestro generador de informes automáticos y nuestras predicciones para los días siguientes en las que utilizamos modernas técnicas de inteligencia artificial</p>
            <h3>Sin necesidad de instalar nada</h3>
            <p>Mappeat solo necesita una conexión a internet para funcionar, algo que hoy en día todos los negocios poseen</p>
            <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
          </div>
        </div>
        
    </body>
</html>
