{% load static from staticfiles %}

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>API de Mappeat</title>
		<meta name="author" content="Luis Castro Martín">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
        <script src="{% static "mainRest/api.js" %}"></script>
	</head>

	<body>
		<script>
			function showResponse(){
				"use strict";
				for (let proveedor of this.response) {
					let p = document.createElement("p");
					p.innerHTML = proveedor.name;
					document.body.appendChild(p);
				}
			}
			
			var provider = { name:"Prueba" };
			post("providers/", get("providers/", showResponse), provider);
		</script>
	</body>
</html>
