{% load static from staticfiles %}

<!doctype html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<title>GUI de Mappeat</title>
		<meta name="author" content="Luis Castro Martín & Rafael Nogales Vaquero">
		<script src="https://cdnjs.cloudflare.com/ajax/libs/js-cookie/2.1.4/js.cookie.min.js"></script>
        <script src="{% static "mainRest/api.js" %}"></script>

        <!-- jQuery library necesary for Bootstrap -->        
        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
        
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	</head>

	<body>  
        <nav class="navbar navbar-inverse">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Mappeat</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li role="separator" class="divider"></li>
                  <li class="dropdown-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
              
            <form action="http://google.com" class="navbar-form navbar-right">
                <div class="form-group">
                  <input type="text" placeholder="Usuario" class="form-control">
                </div>
                <div class="form-group">
                  <input type="password" placeholder="Contraseña" class="form-control">
                </div>
                <button type="submit" class="btn btn-success">Entrar</button>
            </form>
              
          </div><!--/.nav-collapse -->
        </div>
      </nav>   
		<div class="jumbotron">
			<form id="formRegistro" class="formulario" onsubmit="return register(this)">
				<input type="text" name="username" placeholder="Nombre de usuario" required />
				<input type="email" name="mail" placeholder="Correo electrónico" required />
				<input type="password" name="pass" placeholder="Contraseña nueva" required />
				<input type="password" name="passRepeated" placeholder="Repetir contraseña" required />
				<input type="submit" value="Registrarse">
			</form>
		</div>
		<script>
			function register(form){
				if( form.pass.value != form.passRepeated.value ){
					alert("Error: Las contraseñas deben coincidir.");
					return false;
				}
				
				var valores = Object();
				valores.username = form.username.value;
				valores.email = form.mail.value;
				valores.password = form.pass.value;
				
				post("register/", function(){
					alert("Registro completado, comprueba tu email.");
				}, valores, true, "/accounts_api/");
				
				return false;
			}
		</script>
	</body>
</html>
